.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

/* Start Bubly Button Styling */

#bubly-btn {
    -webkit-box-shadow: 2px 1px 3px 0px #899599;
    box-shadow: 2px 1px 3px 0px #899599;
    border: 0px solid #fc94f4;
    border-radius: 50%;
    padding: 1.7rem 1rem;
    margin: 0;
    text-decoration: none;
    text-shadow: 2px 1px 2px #899599;
    letter-spacing: .5px;
    background: #ffaff9;
    color: #ff0043;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#bubly-btn:hover {
    background: #71c7fc;
}

#bubly-btn:focus {
    color: #7fffcd;
    outline: 0;
}

#bubly-btn:active {
    position: relative;
    top: 1px;
    transform: scale(0.99);
}

/* Configurations Styling */